<div class="well">
  <h3>Existing CDR</h3>
  <div class='right_alignment'><%= link_to 'Analyse new cdr', new_cdr_path %></div>
  <br />
  
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Mobile no</th>
      <th>Name</th>
      <th>Case no</th>
      <th></th>
    </tr>

  <% @cdrs.each do |cdr| %>
    <tr>
      <td><%= cdr.mobile_no %></td>
      <td><%= cdr.name %></td>
      <td><%= cdr.case_no %></td>
      <td><%= link_to 'Show', cdr %></td>
    </tr>
  <% end %>
  </table>
</div>






