<div class="well">
  <fieldset>
    <legend>Edit Profile</legend>
    
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'span3' %>
      </p>
      
      <p>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'span3' %>
      </p>

      <p>
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'span3' %>
      </p>

      <p>
        <%= f.label :designation %>
        <%= f.text_field :designation, class: 'span3'%>
      </p>

      <p>
        <%= f.label :city %>
        <%= f.text_field :city, class: 'span3' %>
      </p>

      <p>
        <%= f.label :branch %>
        <%= f.text_field :branch, class: 'span3' %>
      </p>

      <p>
        <%= f.label :secondary_email %>
        <%= f.text_field :secondary_email, class: 'span3' %>
      </p>

      <p>
        <%= f.label :badge_num %>
        <%= f.text_field :badge_num, class: 'span3' %>
      </p>

      <p>
        <%= f.label :dob %>
        <%= f.text_field :dob, class: 'span3 datepicker' %>
      </p>

      <%= submit_tag "Submit", class: 'btn'%>
    <% end %>
    
  </fieldset>
</div>





<script type="text/javascript">
    $( '[type=date], .datepicker' ).pickadate()
</script>