<p id="notice"><%= notice %></p>
<%= render 'form' %>

<div class="well">
  <p>
    <b>Name:</b>
    <%= @sdr.name %>
  </p>

  <p>
    <b>Mobile number:</b>
    <%= @sdr.mobile_number %>
  </p>

  <p>
    <b>Address:</b>
    <%= @sdr.address %>
  </p>

  <p>
    <b>Activation Date:</b>
    <%= @sdr.activation_date.strftime("%d %B %Y") %>
  </p>

  <p>
    <b>Service Provider:</b>
    <%= @sdr.sp %>
  </p>

</div>