<!-- <p id="notice" class='alert'><%= notice %></p> -->
<%= render 'form' %>

<div class="well">
  <p>
    <b>Code:</b>
    <%= @msc.code %>
  </p>

  <p>
    <b>Operator:</b>
    <%= @msc.operator %>
  </p>

  <p>
    <b>Circle:</b>
    <%= @msc.circle %>
  </p>
</div>