<p id="notice"><%= notice %></p>

<%= render 'form' %>


<div class="well">
  <fieldset>
    <p>
      <b>Cell:</b>
      <%= @cell_tower.cell_id %>
    </p>

    <p>
      <b>Lac:</b>
      <%= @cell_tower.lac %>
    </p>

    <p>
      <b>Cgi:</b>
      <%= @cell_tower.cgi %>
    </p>

    <p>
      <b>Address:</b>
      <%= @cell_tower.address %>
    </p>

    <p>
      <b>Latitude:</b>
      <%= @cell_tower.latitude %>
    </p>

    <p>
      <b>Longitude:</b>
      <%= @cell_tower.longitude %>
    </p>

    <p>
      <b>Tower type:</b>
      <%= @cell_tower.tower_type %>
    </p>

    <p>
      <b>Company:</b>
      <%= @cell_tower.company %>
    </p>
  </fieldset>
</div>

<%= gmaps({
       "map_options" => { "auto_zoom" => false},
       "markers"     => { "data" => @json }
      })
%>