<div class="well">
  <legend>Users</legend>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email-address</th>
          <th>phone</th>
          <th>City</th>
          <th>Activity</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.city %></td>
            <td><%= link_to 'Activities', activity_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>