<div class='right_alignment'><%= image_tag("xls_icon.gif") %> Xls Export | <%= image_tag("printer.gif") %> printer</div>
<legend>Activites</legend>

<div>
  <div><%= paginate @activities %></div>
  <table class="table table-striped" border="0">
    <thead>
      <tr>
        <th style="width: 20%">User</th>
        <th style="width: 10%">IP-Address</th>
        <th style="width: 15%">Access Time</th>
        <th style="width: 15%">Activity Name</th>
        <th style="max-width: 20%">Access Content</th>
        <th style="width: 20%">Browser Info</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.user.name %></td>
          <td><%= activity.ip_address %></td>
          <td><%= activity.time_stamp.strftime("%b %d %I:%M %p") %></td>
          <td><%= activity.name %></td>
          <td style="width:100px;"><%= activity.content %></td>
          <td><%= activity.browser_info %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= paginate @activities %></div>
</div>