<p id="notice"><%= notice %></p>



<table width='100%'>
  <tr>
    <th width="15%">User</th>
    <th width="15%">IP-Address</th>
    <th width="15%">Access Time</th>
    <th width="10%">Activity Name</th>
    <th width="15%">Access Content</th>
    <th width="30%">Browser Info</th>
  </tr>
  
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.user.name %></td>
      <td><%= activity.ip_address %></td>
      <td><%= activity.time_stamp.strftime("%b %d %I:%M %p") %></td>
      <td><%= activity.name %></td>
      <td><%= activity.content %></td>
      <td><%= activity.browser_info %></td>
    </tr>
  <% end %>
</table>