<p id="notice"><%= notice %></p>
<%= render 'form' %>


<div class="well">
  <fieldset>
      <p>
        <b>Motor Vehicle No:</b>
        <%= @rto.mv_no %>
      </p>

      <p>
        <b>Year:</b>
        <%= @rto.year %>
      </p>

      <p>
        <b>Owner name:</b>
        <%= @rto.owner_name %>
      </p>

      <p>
        <b>Owner address:</b>
        <%= @rto.owner_address %>
      </p>

      <p>
        <b>City:</b>
        <%= @rto.city %>
      </p>

      <p>
        <b>Chasis no:</b>
        <%= @rto.chasis_no %>
      </p>

      <p>
        <b>Engine no:</b>
        <%= @rto.engine_no %>
      </p>

      <p>
        <b>Model des:</b>
        <%= @rto.model_des %>
      </p>

      <p>
        <b>Color:</b>
        <%= @rto.color %>
      </p>
  </fieldset>
</div>