<!DOCTYPE html>
<html>
  <head>
    <title>Sdr-Data</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      
      <div id="user_nav">
        <% if current_user %>
          Welcome <%= current_user.name %>| <%= link_to 'My Info', edit_user_path(current_user) %> | <%= link_to "Log out", log_out_path %>
        <% else %>
          <!-- <%#= link_to "Sign up", sign_up_path %> or  -->
          <%= link_to "Log in", log_in_path %>
        <% end %>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
